@charset "utf-8";

@keyframes upDown {
  0%   {opacity: 0; bottom: 0.8rem;}
  20%  {opacity: 0.1; bottom: 0.7rem;}
  40%  {opacity: 0.2; bottom: 0.5rem;}
  60%  {opacity: 0.72; bottom: 0.3rem;}
  80%  {opacity: 0.86; bottom: 0.2rem;}
  100% {opacity: 0.9; bottom: 0.1rem;}
}
@-webkit-keyframes upDown{
  0%   {opacity: 0; bottom: 0.8rem;}
  20%  {opacity: 0.1; bottom: 0.7rem;}
  40%  {opacity: 0.2; bottom: 0.5rem;}
  60%  {opacity: 0.72; bottom: 0.3rem;}
  80%  {opacity: 0.86; bottom: 0.2rem;}
  100% {opacity: 0.9; bottom: 0.1rem;}
}
.text-danger{
  color:#d9534f;
}
.wrapper{
  color:white;
  margin: 0;
  width: 100%;
  clear: both;
  >.music{
    position: absolute;
    top:1rem;
    right: 1rem;
    z-index: 3;
    font-size: 1.0rem;
  }
  >.touch-content{
    position:absolute;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: orangered;
    margin: 0;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    overflow: hidden;
    z-index: 2;
  }
  .touch-content.ng-enter,.touch-content.ng-show-remove,
  .touch-content.ng-leave.ng-leave-active {
    opacity:0;
  }
  .touch-content.ng-leave,.touch-content.ng-show-add,
  .touch-content.ng-enter.ng-enter-active {
    opacity:1;
  }

  >.bottom{
    position: absolute;
    display: block;
    text-align: center;
    font-weight: 100;
    width:100%;
    bottom:1rem;
    z-index: 3;
    animation: upDown 0.6s ease-in-out infinite;
    -webkit-animation: upDown 0.6s ease-in-out infinite;
    -moz-animation: upDown 0.6s ease-in-out infinite;
  }
}
.name{
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  width: 80%;
  height: 90%;
  margin-top: 2rem;
}
.name.ng-enter,.name.ng-show-remove,
.name.ng-leave.ng-leave-active {
  opacity:0;
}
.name.ng-leave,.name.ng-show-add,
.name.ng-enter.ng-enter-active {
  opacity:1;
}
.current{
  color: grey!important;
  background-color: white;
  font-weight: 900;
}
