@charset "utf-8";

@keyframes upDown {
  0%   {opacity: 0; bottom: 1.4rem;}
  20%  {opacity: 0.1; bottom: 1.3rem;}
  40%  {opacity: 0.2; bottom: 1.2rem;}
  60%  {opacity: 0.72; bottom: 1.1em;}
  80%  {opacity: 0.86; bottom: 0.9rem;}
  100% {opacity: 1; bottom: 0.8rem;}
}
@-webkit-keyframes upDown{
  0%   {opacity: 0; bottom: 1.4rem;}
  20%  {opacity: 0.1; bottom: 1.3rem;}
  40%  {opacity: 0.2; bottom: 1.2rem;}
  60%  {opacity: 0.72; bottom: 1.1em;}
  80%  {opacity: 0.86; bottom: 0.9rem;}
  100% {opacity: 1; bottom: 0.8rem;}
}
@keyframes circle{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(-360deg); }
}
@-webkit-keyframes circle{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(-360deg); }
}

@keyframes leftRightHand{
  0%   {opacity: 0.5; left: 79.5%;}
  20%  {opacity: 0.6; left: 79%;}
  40%  {opacity: 0.7; left: 78.5%;}
  60%  {opacity: 0.8; left: 78%;}
  80%  {opacity: 0.9; left: 77.5%;}
  100% {opacity: 1; left: 77%;}
}
@-webkit-keyframes leftRightHand{
  0%   {opacity: 0.5; left: 79.5%;}
  20%  {opacity: 0.6; left: 79%;}
  40%  {opacity: 0.7; left: 78.5%;}
  60%  {opacity: 0.8; left: 78%;}
  80%  {opacity: 0.9; left: 77.5%;}
  100% {opacity: 1; left: 77%;}
}
@keyframes leftRightHand1{
  0%   {opacity: 0.5; left: 10px;}
  20%  {opacity: 0.6; left: 9px;}
  40%  {opacity: 0.7; left: 8px;}
  60%  {opacity: 0.8; left: 7px;}
  80%  {opacity: 0.9; left: 6px;}
  100% {opacity: 1.0; left: 5px;}
}
@-webkit-keyframes leftRightHand1{
  0%   {opacity: 0.5; left: 10px;}
  20%  {opacity: 0.6; left: 9px;}
  40%  {opacity: 0.7; left: 8px;}
  60%  {opacity: 0.8; left: 7px;}
  80%  {opacity: 0.9; left: 6px;}
  100% {opacity: 1.0; left: 5px;}
}


.music{
  position: absolute;
  display: block;
  top:1.2rem;
  right: 1.2rem;
  z-index: 3;
  font-size: 1.0rem;
  height: 1.6rem;
  width: 1.6rem;
}
.music-circle{
  animation:circle 1.5s infinite linear;/*匀速 循环*/
  -webkit-animation:circle 1.5s infinite linear;/*匀速 循环*/
}


.bottom{
  position: absolute;
  display: block;
  text-align: center;
  font-weight: 100;
  width:100%;
  bottom:1rem;
  z-index: 3;
  color: white;
  animation: upDown 1s ease-in-out infinite;
  -webkit-animation: upDown 1s ease-in-out infinite;
  -moz-animation: upDown 1s ease-in-out infinite;
}
.swiper-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.layer{
  position: absolute;
  width: 100%;
  height: 100%;
  background:url("../images/bglayer.jpg");
  background-size: cover;
  display: none;
  z-index: 20;
  .closeLayer{
    margin: 10px 0 0 10px;
    height: 30px;
    line-height: 30px;
    background: url('../images/btn-back.png') no-repeat;
    width: 200px;
    background-size: auto 100%;
  }
  >.departmentList{
    width: 90%;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 2px 2px grey;
    -webkit-box-shadow: 0 0 2px 2px grey;
    background: #A2B700;
    position: absolute;
    color: white;
    top:10%;
    left: 5%;
  }
  >.jobTitle{
    width: 90%;
    height: 60%;
    overflow: scroll;
    position: absolute;
    top:18%;
    left: 10%;
    >li{
      height: 42px;
      line-height: 42px;
      background: url('../images/pos-dot.png') no-repeat;
      background-size: auto 100%;
      padding-left: 64px;
      line-height: 42px;
      text-align: left;
      font-size: 0.9rem;
      >span{
        font-weight: 700;
        >i{
          position: relative;
          top:5px;
          animation:leftRightHand1 0.5s infinite linear;
          -webkit-animation:leftRightHand1 0.5s infinite linear;
        }
      }
    }
    >li:last-child{
      background: url('../images/pos-dot-end.png') no-repeat;
      background-size: auto 100%;
    }
  }
  >.bottom-departList{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
.swiper-slide{
  background-image: url('../images/bg1.png');
  background-size: cover;
}
.top-pic-1{
  position: absolute;
  top:-1px;
  min-width: 100%;
}
.middle-bottom{
  position: absolute;
  top:40%;
  min-width: 100%;
  >.middle-pic-1{
    left: 1rem;
    min-width: 100%;
  }
  >.bottom-pic-1{
    position:absolute;
    top:60%;
    min-width: 80%;
    left: 8%;
  }
}
.top-2{
  width: 90%;
  margin: 5%;
  height: 55%;
  background: rgba(255,255,0,0.8);
  box-shadow: 0 0 2px 2px grey;
  -webkit-box-shadow: 0 0 2px 2px grey;
  border-radius: 10px;
  text-indent: 2em;
  padding: 1em;
}
.bottom-2{
  min-width: 100%;
  position: absolute;
  bottom: 0.5%;
  left: 0;
  >.pic1{
    position: absolute;
    width: 40%;
    top: -29%;
    left: 65%;
    z-index: 7;
  }
  >.pic2{
    min-width: 90%;
    position: absolute;
    top:-14%;
    z-index: 6;
  }
  >.pic3{
    width: 100%;
    z-index: 5;
    bottom: 0;
  }

}
.top-2-2{
  width: 90%;
  margin: 5%;
  height: 62%;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 2px 2px grey;
  -webkit-box-shadow: 0 0 2px 2px grey;
  border-radius: 10px;
  >.top-img{
    position: absolute;
    width: 25%;
  }
  >.img1{
    left:24.5%
  }
  >.img2{
    left:50.5%;
  }
  >.img3{
    top:17.7%;
    left:11.5%;
  }
  >.img4{
    top:17.7%;
    left:37.5%

  }
  >.img5{
    top:17.7%;
    left:63.5%
  }
  >.img6{
    top:32.7%;
    left:24.5%
  }
  >.img7{
    top:32.7%;
    left:50.5%
  }
  >.img8{
    top:46.2%;
    left:68.5%
  }
  >.img9{
    position: absolute;
    top: 50%;
    left: 58%;
  }
  .top-div{
    position: absolute;
    width: 50%;
    background: rgba(255,255,0,0.8);
    box-shadow: 0 0 2px 2px grey;
    -webkit-box-shadow: 0 0 2px 2px grey;
    border-radius: 10px;
    font-size:0.6rem;
    font-weight: 600;
    padding: 2px 4px;
    top:53%;
    left:7%;
    text-indent: 2em;
  }
}
.bottom-2-2{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  >img{
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 55%;
  }
}
.top-3{
  margin-top: 2rem;
  >.department{
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 2px 2px grey;
    -webkit-box-shadow: 0 0 2px 2px grey;
    background: rgba(255,255,0,1);
    position: absolute;
    z-index: 6;
    font-weight: 700;
  }
  >.point{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top:6%;
    color: yellow;
    animation:leftRightHand 0.5s infinite linear;
    -webkit-animation:leftRightHand 0.5s infinite linear;
    z-index: 5;
  }
}
.bottom-3{
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  >.pic1{
    width: 100%;
  }
}

