@charset "UTF-8";
@keyframes upDown {
  0% {
    opacity: 0;
    bottom: 1rem; }
  20% {
    opacity: 0.1;
    bottom: 0.8rem; }
  40% {
    opacity: 0.2;
    bottom: 0.6rem; }
  60% {
    opacity: 0.72;
    bottom: 0.4em; }
  80% {
    opacity: 0.86;
    bottom: 0.2rem; }
  100% {
    opacity: 1;
    bottom: 0.1rem; } }
@-webkit-keyframes upDown {
  0% {
    opacity: 0;
    bottom: 1rem; }
  20% {
    opacity: 0.1;
    bottom: 0.8rem; }
  40% {
    opacity: 0.2;
    bottom: 0.6rem; }
  60% {
    opacity: 0.72;
    bottom: 0.4em; }
  80% {
    opacity: 0.86;
    bottom: 0.2rem; }
  100% {
    opacity: 1;
    bottom: 0.1rem; } }
@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes leftRightHand {
  0% {
    opacity: 0.5;
    left: 79.5%; }
  20% {
    opacity: 0.6;
    left: 79%; }
  40% {
    opacity: 0.7;
    left: 78.5%; }
  60% {
    opacity: 0.8;
    left: 78%; }
  80% {
    opacity: 0.9;
    left: 77.5%; }
  100% {
    opacity: 1;
    left: 77%; } }
@-webkit-keyframes leftRightHand {
  0% {
    opacity: 0.5;
    left: 79.5%; }
  20% {
    opacity: 0.6;
    left: 79%; }
  40% {
    opacity: 0.7;
    left: 78.5%; }
  60% {
    opacity: 0.8;
    left: 78%; }
  80% {
    opacity: 0.9;
    left: 77.5%; }
  100% {
    opacity: 1;
    left: 77%; } }
@keyframes leftRightHand1 {
  0% {
    opacity: 0.5;
    left: 10px; }
  20% {
    opacity: 0.6;
    left: 9px; }
  40% {
    opacity: 0.7;
    left: 8px; }
  60% {
    opacity: 0.8;
    left: 7px; }
  80% {
    opacity: 0.9;
    left: 6px; }
  100% {
    opacity: 1.0;
    left: 5px; } }
@-webkit-keyframes leftRightHand1 {
  0% {
    opacity: 0.5;
    left: 10px; }
  20% {
    opacity: 0.6;
    left: 9px; }
  40% {
    opacity: 0.7;
    left: 8px; }
  60% {
    opacity: 0.8;
    left: 7px; }
  80% {
    opacity: 0.9;
    left: 6px; }
  100% {
    opacity: 1.0;
    left: 5px; } }
.music {
  position: absolute;
  display: block;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 3;
  font-size: 1.2rem;
  height: 1.2rem;
  width: 1.2rem;
  text-align: center; }

.music-circle {
  animation: circle 1.5s infinite linear;
  /*匀速 循环*/
  -webkit-animation: circle 1.5s infinite linear;
  /*匀速 循环*/ }

.bottom {
  position: absolute;
  display: block;
  text-align: center;
  font-weight: 100;
  width: 100%;
  bottom: 0rem;
  z-index: 3;
  color: white;
  animation: upDown 1s ease-in-out infinite;
  -webkit-animation: upDown 1s ease-in-out infinite;
  -moz-animation: upDown 1s ease-in-out infinite;
  font-size: 0.8rem; }

.swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/bglayer.jpg");
  background-size: cover;
  display: none;
  z-index: 20; }
  .layer .closeLayer {
    margin: 10.2px 0 0 10px;
    height: 1.4rem;
    line-height: 1.4rem;
    background: url("../images/btn-back.png") no-repeat;
    background-size: auto 100%; }
  .layer > .departmentList {
    width: 90%;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 0 2px 2px grey;
    -webkit-box-shadow: 0 0 2px 2px grey;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    color: white;
    top: 10%;
    left: 5%;
    font-size: 0.9rem; }
  .layer > .jobTitle {
    width: 90%;
    height: 60%;
    overflow: scroll;
    position: absolute;
    top: 18%;
    left: 10%; }
    .layer > .jobTitle > li {
      /* height: 42px;5
       line-height: 42px;*/
      background: url("../images/pos-dot.png") no-repeat;
      background-size: auto 100%;
      padding-left: 135px;
      text-align: left; }
      .layer > .jobTitle > li > span {
        font-weight: 700;
        font-size: 0.8rem; }
        .layer > .jobTitle > li > span > i {
          position: relative;
          top: 5px;
          animation: leftRightHand1 0.5s infinite linear;
          -webkit-animation: leftRightHand1 0.5s infinite linear; }
      .layer > .jobTitle > li:last-child {
        background: url("../images/pos-dot-end.png") no-repeat;
        background-size: auto 100%; }
  .layer > .bottom-departList {
    position: absolute;
    width: 100%;
    bottom: 0; }

.layerJobDetails {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/bglayer.jpg");
  background-size: cover;
  top: 0;
  display: none;
  z-index: 10; }
  .layerJobDetails > .headImg {
    width: 40%;
    margin: 0 30%; }
  .layerJobDetails > .jobTitleDetails {
    width: 100%;
    height: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    margin-top: -1rem;
    font-size: 0.9rem;
    color: yellow;
    background-image: url("../images/layer_jobdetails/jobTitle.png");
    background-size: cover;
    z-index: 2; }
  .layerJobDetails > .jobDetails {
    width: 98%;
    padding: 3%;
    height: 50%;
    overflow: scroll;
    margin: 2% 0; }
    .layerJobDetails > .jobDetails > h2 {
      font-size: 1rem;
      font-weight: 700; }
    .layerJobDetails > .jobDetails > ol {
      font-size: 0.8rem;
      list-style: none; }
      .layerJobDetails > .jobDetails > ol > li {
        text-indent: 2em; }
  .layerJobDetails > .jobDetailsBottom {
    text-align: center;
    width: 100%;
    margin-top: 4%; }
    .layerJobDetails > .jobDetailsBottom > .btn {
      display: inline-block;
      width: 200px;
      height: 1.5rem;
      line-height: 1.5rem;
      margin: 0 1rem;
      border-radius: 1.5rem;
      color: white;
      font-size: 0.8rem;
      box-shadow: 0 0 2px 2px grey;
      -webkit-box-shadow: 0 0 2px 2px grey;
      padding: 0 !important;
      font-weight: 500; }
    .layerJobDetails > .jobDetailsBottom > .ok {
      background-color: #5cb85c; }
    .layerJobDetails > .jobDetailsBottom > .readMore {
      background-color: #f0ad4e; }

.noticeLayer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/bg1.png");
  background-size: cover;
  top: 0;
  z-index: 10;
  padding: 10px; }
  .noticeLayer > .reviewMe {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: 1.2rem;
    font-size: 0.7rem;
    margin-top: 9.2px;
    padding: 0 0.8rem; }
  .noticeLayer > h2 {
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: 2px 0 10px 0;
    color: yellow;
    text-shadow: 0 0 2px  blue;
    -webkit-text-shadow: 0 0 2px  blue; }
  .noticeLayer > .notice {
    padding: 10px;
    background: rgba(255, 255, 0, 0.8);
    border-radius: 10px;
    font-size: 0.85rem;
    list-style: none;
    text-indent: 2em;
    min-height: 70%; }
    .noticeLayer > .notice > .selectedJob {
      color: red; }
  .noticeLayer > .noticeBottom {
    margin-top: 10px;
    text-align: center; }
    .noticeLayer > .noticeBottom > .notice-b-2 {
      margin: 0 auto;
      width: 50%;
      animation: pulse 0.5s infinite linear;
      -webkit-animation: pulse 0.5s infinite linear; }

.swiper-slide {
  background-image: url("../images/bg1.png");
  background-size: cover; }

.top-pic-1 {
  position: absolute;
  top: -1px;
  min-width: 100%; }

.middle-bottom {
  position: absolute;
  top: 40%;
  min-width: 100%; }
  .middle-bottom > .middle-pic-1 {
    left: 1rem;
    min-width: 100%; }
  .middle-bottom > .bottom-pic-1 {
    position: absolute;
    top: 60%;
    min-width: 80%;
    left: 8%; }

.top-2 {
  width: 90%;
  margin: 5%;
  height: 60%;
  background: rgba(255, 255, 0, 0.8);
  box-shadow: 0 0 2px 2px grey;
  -webkit-box-shadow: 0 0 2px 2px grey;
  border-radius: 10px;
  text-indent: 2em;
  padding: 1em;
  font-size: 0.7rem; }

.bottom-2 {
  min-width: 100%;
  position: absolute;
  left: 0; }
  .bottom-2 > .pic1 {
    position: absolute;
    width: 40%;
    top: -29%;
    left: 65%;
    z-index: 7; }
  .bottom-2 > .pic2 {
    min-width: 90%;
    position: absolute;
    top: -14%;
    z-index: 6; }
  .bottom-2 > .pic3 {
    width: 100%;
    z-index: 5;
    bottom: 0; }

.top-2-2 {
  width: 90%;
  margin: 5%;
  height: 62%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2px 2px grey;
  -webkit-box-shadow: 0 0 2px 2px grey;
  border-radius: 10px; }
  .top-2-2 > .top-img {
    position: absolute;
    width: 25%; }
  .top-2-2 > .img1 {
    left: 24.5%; }
  .top-2-2 > .img2 {
    left: 50.5%; }
  .top-2-2 > .img3 {
    top: 17.7%;
    left: 11.5%; }
  .top-2-2 > .img4 {
    top: 17.7%;
    left: 37.5%; }
  .top-2-2 > .img5 {
    top: 17.7%;
    left: 63.5%; }
  .top-2-2 > .img6 {
    top: 32.7%;
    left: 24.5%; }
  .top-2-2 > .img7 {
    top: 32.7%;
    left: 50.5%; }
  .top-2-2 > .img8 {
    top: 46.2%;
    left: 68.5%; }
  .top-2-2 > .img9 {
    position: absolute;
    top: 50%;
    left: 58%; }
  .top-2-2 .top-div {
    position: absolute;
    width: 50%;
    background: rgba(255, 255, 0, 0.8);
    box-shadow: 0 0 2px 2px grey;
    -webkit-box-shadow: 0 0 2px 2px grey;
    border-radius: 10px;
    font-size: 0.6rem;
    font-weight: 600;
    padding: 2px 4px;
    top: 53%;
    left: 7%;
    text-indent: 2em; }

.bottom-2-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .bottom-2-2 > img {
    position: absolute;
    bottom: 10px;
    left: 25%;
    width: 50%;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; }

.top-3 {
  margin-top: 2rem; }
  .top-3 > .department {
    width: 50%;
    height: 1.3rem;
    line-height: 1.3rem;
    border-radius: 1.3rem;
    text-align: center;
    box-shadow: 0 0 2px 2px grey;
    -webkit-box-shadow: 0 0 2px 2px grey;
    background: yellow;
    position: absolute;
    z-index: 6;
    font-weight: 700; }
  .top-3 > .point {
    display: inline-block;
    width: 100px;
    height: 1.3rem;
    line-height: 1.3rem;
    position: absolute;
    color: yellow;
    animation: leftRightHand 0.5s infinite linear;
    -webkit-animation: leftRightHand 0.5s infinite linear;
    top: 6%;
    z-index: 5; }

.bottom-3 {
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0; }
  .bottom-3 > .pic1 {
    width: 100%; }

/*# sourceMappingURL=home.css.map */
