<link rel="stylesheet" href="css/home.css">
<div class="wrapper clearfix">

 <span class="fa-stack fa-lg  music" ng-class="{true:'fa-spin'}[musicOn]" ng-click="musicOn=!musicOn">
  <i class="fa fa-stack-2x " ng-class="{true:'fa-circle-o',false:'fa-ban  text-danger'}[musicOn]" ></i>
  <i class="fa fa-stack-1x" ng-class="{true:'fa-volume-down',false:'fa-volume-off'}[musicOn]"></i>
  </span>
    <p class="touch-content" ng-repeat="a in pages" ng-swipe-left="next($index)"
       ng-swipe-right="pre($index)"
       ng-swipe-up="next($index)" ng-swipe-down="pre($index)"
       ng-show="a.isShow">
        <div ng-include="a.url"></div>
    </p>
    <span class="bottom"> <i class="fa fa-angle-double-up fa-2x"></i></span>
</div>

